// Import variables and mixins
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: v.$font-size-base;
  font-family: v.$font-family-primary;
  color: v.$color-text;
  background-color: v.$color-background;
  @include m.flex-center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  @include m.heading;
}

h1 {
  font-size: v.$font-size-xlarge;
  font-weight: v.$font-weight-extrabold;
}

h2 {
  font-size: v.$font-size-large;
  font-weight: v.$font-weight-bold;
}

button {
  @include m.button-base;
  font-family: v.$font-family-primary;
}

input {
  font-family: v.$font-family-primary;
}

p {
  margin: v.$spacing-medium 0;
  line-height: 1.6;
}

ul, ol {
  list-style-position: inside;
}

a {
  color: v.$color-primary;
  text-decoration: none;
  transition: all v.$animation-duration-short v.$animation-smooth;
  
  &:hover {
    color: v.$color-primary-dark;
    text-decoration: underline;
  }
}

// Selection styling
::selection {
  background: v.$color-primary;
  color: v.$color-white;
}

::-moz-selection {
  background: v.$color-primary;
  color: v.$color-white;
}

// Focus visible for accessibility
*:focus-visible {
  outline: 3px solid v.$color-primary;
  outline-offset: 2px;
}
